:root{
    --button-primary: rgb(194, 172, 255);
    --button-secondary: #ffffff;
    --button-hover: #2cceff;
    --button-active:#f4985b;

    --default-background: #5b537e;
    --default-foreground: white;

    --sidebar-background: rgb(30, 30, 30);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--default-background);
    color: var(--default-foreground);
}

html, body, #root, #main {
  height: 100%;
  margin: 0px;
}

#header-container {
    padding-left: 30px;
}

#main {
    display: flex;
    justify-content: space-between;
}

#sidebar {
  padding-left: 20px;
  width: 35vh;
  background-color: var(--sidebar-background);
  overflow: hidden;
}

#sidebar * {
  background-color: var(--sidebar-background);
}

#paste-summarize-container {
    margin-left: 100px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 250ms;
    margin-bottom: 10px;
}
  
.upload-btn {
    border: 2px solid var(--button-primary);
    color: var(--button-primary);
    background-color: var(--default-background);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 250ms;
}

.upload-btn-wrapper:hover .upload-btn,
.upload-btn-wrapper:focus .upload-btn{
    border:2px solid var(--button-hover);
    color: var(--button-hover)
}

.upload-btn-wrapper:active .upload-btn {
    color: var(--button-active);
    border: 2px solid var(--button-active);
}

.upload-btn-wrapper:hover,
.upload-btn-wrapper:focus{
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px;
}

.upload-btn-wrapper:active {
    background-color: var(--button-click);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--button-primary);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--default-foreground);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: var(--button-hover);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

textarea {
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    color: rgb(14, 14, 16);
    background: #f1fbff;
    box-shadow: 0px 0px 5px grey;
    display: block;
    height: 70vh;
    width: 70vh;
    opacity: 0.7;
    transition: 0.3s;
    resize: none;
    margin-bottom: 30px;
}

textarea:hover {
    box-shadow: 0px 0px 10px var(--button-hover);
}

textarea:focus-visible {
    border: none;
    outline: none;
    opacity: 1;  
    
}

textarea::-webkit-input-placeholder {
    vertical-align: top;
}

#output-summarize-container {
    margin-top: 55px;
    margin-right: 100px;
}

#text-output {
    margin:10px;
    padding: 10px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--default-foreground);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
