textarea {
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 10px;
    border: none;
    color: rgb(14, 14, 16);
    background: #f1fbff;
    box-shadow: 0px 0px 5px grey;
    display: block;
    height: 400px;
    width: 400px;
    opacity: 0.7;
    transition: 0.3s;

}

textarea:hover {
    box-shadow: 0px 0px 10px grey;
    box-shadow: 0px 0px 10px rgb(129, 175, 171);
}

textarea:focus-visible {
    border: none;
    outline: none;
    opacity: 1;  
    
}

textarea::-webkit-input-placeholder {
    vertical-align: top;
}